:root {
    --kunyit-yellow: #F5DF4D;
    --aspal-grey: #939597;
    --laut-blue: #071729;
    --langit-blue: #A8C8F0;
    --awan-white: #FFF3DD;
    --merdeka-red: #FF164E;
    --champagne: #FBF1B2;
    --light-grey: #F0F0F0;
    --light-blue: #DDE9F8;
}

@font-face {
    font-family: PlusJakarta;
    src: url(../font/PlusJakartaSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: PlusJakartaBold;
    src: url(fonts/PlusJakartaSans-Bold.ttf) format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--text-primary);
    font-size: 18px;
    background-color: #F5DF4D;
    overflow-x: hidden;
}

nav {
    background-color: #071729 !important;
}

@media (min-width: 990px) {
    nav {
        background-color: #071729 !important;
        padding-right: 130px !important;
    }
}

nav li {
    font-family: PlusJakartaBold, sans-serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 40px;
}

nav #languageSelector {
    color: white;
}

nav #languageSelectorMobile {
    font-family: PlusJakartaBold, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.title {
    font-family: PlusJakartaBold, sans-serif;
}

.sub-title {
    font-size: 60px;
    color: white;
    font-feature-settings: 'ss02' on, 'ss01' on, 'ss03' on;
}

.btn {
    font-family: PlusJakartaBold, sans-serif;
    margin-top: 10px;
    background-color: #F5DF4D;
    border: solid 3px black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 270px;
}

.hero-content {
    margin-top: 200px;
    font-size: 22px;
}

footer {
    font-family: Montserrat;
}

footer a {
    text-decoration: underline;
    color: inherit;
}

footer a:hover {
    color: inherit;
}

.regular {
    font-weight: 400;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.x-bold {
    font-weight: 800;
}

.nav-links {
    color: white !important;
}

.section-hero {
    color: var(--text-secondary);
    background-image: url(https://garudahacks.com/img/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 205px;
    line-height: 1.6;
    font-weight: 500;
}

@media screen and (min-width: 317px) {
    .section-hero {
        padding-top: 205px;
    }
}

@media screen and (min-width: 768px) {
    .section-hero {
        padding-top: 185px;
    }
}

@media screen and (min-width: 1500px) {
    .section-hero {
        padding-top: 185px;
    }
}

@media screen and (min-width: 1900px) {
    .section-hero {
        padding-top: 185px;
    }
    .section-hero .hero-content {
        padding-top: 50px;
    }
}

.section-hero strong {
    font-weight: 700;
    font-size: 22px;
}

.section-hero h1 {
    color: var(--text-secondary);
}

.section-hero .register-mentor {
    padding-top: 15px;
    font-size: 16px;
}

.section-hero .register-mentor a {
    color: white;
    text-decoration: underline;
}

.section-hero .registration-fineprint {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 0px;
}

.section-hero .btn {
    font-size: 18px;
}

.section-hero .hero-img {
    display: block;
    max-width: 400px;
    width: 100%;
}

.section-hero .btn-register {
    margin-top: 15px;
    font-family: PlusJakartaBold, sans-serif;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px var(--grey);
    color: white;
    background-color: #071729;
    ;
    padding: 15px 25px;
}

.section-sponsor {
    background-color: var(--grey-1);
    color: var(--grey-2);
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-sponsor .sponsor-text {
    font-weight: 700;
    font-size: 25px;
}

.section-sponsor .main-carousel {
    padding-bottom: 25px;
}

.title-sponsor {
    width: 100%;
    margin-bottom: 15px;
}

.section-sponsor .carousel-cell {
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    height: 95px;
}

.section-sponsor .carousel-cell .sponsor-img {
    display: block;
    height: 45px;
    filter: blur(5px) grayscale(100%);
    transition-duration: 0.25s;
    transition-timing-function: ease;
    max-width: 100%;
}

.section-sponsor .carousel-cell.is-selected .sponsor-img {
    display: block;
    height: 85px;
    filter: blur(0px);
    transition-duration: 0.25s;
    transition-timing-function: ease;
    max-height: 100%;
    height: auto;
}

@media screen and (min-width: 960px) {
    /* half-width cells for larger devices */
    .section-sponsor .carousel-cell {
        width: 33%;
    }
}

.section-what {
    background-color: #071729;
}

.section-what .container h1 {
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 71px;
    font-feature-settings: 'ss01' on;
    color: #F5DF4D;
    padding-top: 60px;
    padding-bottom: 40px;
}

.section-what .container p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F5DF4D;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-what .container h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F5DF4D;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 0px;
}

.section-what .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-what .item {
    margin-bottom: 50px;
    padding: 30px;
    height: 100%;
}

.section-what .item .item-title {
    font-family: PlusJakartaBold;
    font-variant-ligatures: no-historical-ligatures;
    font-feature-settings: "ss01", "ss02", "ss03";
    font-size: 40px;
    color: var(--laut-blue);
    line-height: 1;
}

.section-what .item-desc {
    max-width: 450px;
    font-size: 17px;
    line-height: 1.6;
}

.section-what .item-img img {
    max-width: 100%;
}

.expert {
    padding-top: 30px;
    background-color: var(--kunyit-yellow);
}

.expert .item {
    padding: 30px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 600;
}

.expert .iten-title p {
    font-size: 48px;
}

.expert .item-desc1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 25px;
}

.expert .item-desc2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 25px;
}

.expert .item-img {
    text-align: center;
    margin: 0 auto;
}

.expert .item-img img {
    max-width: 100%;
    max-height: 300px;
}

.mountain-bg {
    text-align: center;
    margin-top: -200px;
    width: 100vw;
}

.yellow {
    width: 100vw;
}

@media (min-width: 1200px) {
    .expert .item-desc1 {
        width: 550px;
    }
}

.section-sponsors {
    background-color: #FFFCF3;
    margin-bottom: 30px;
}

.section-sponsors .tools-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .section-sponsors .tools-container {
        justify-content: center;
    }
}

.section-sponsors .tool-box {
    border: solid 1px #f3f3f3;
    margin-top: 30px;
    min-height: 225px;
    min-width: 250px;
    max-height: 225px;
    max-width: 250px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease;
}

.section-sponsors .tool-box:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-sponsors .tool-box .tool-logo {
    width: 50px;
    height: 50px;
}

.section-sponsors .tool-box .tool-logo img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    width: auto;
}

.section-sponsors .tool-box .tool-name {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-dark);
}

.section-sponsors .tool-box .tool-desc {
    font-size: 17px;
    line-height: 1.6;
}

.sponsor-title-black {
    background-color: #FFFCF3;
    padding-top: 30px;
}

.hiring-title {
    margin-top: 0px;
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    font-feature-settings: 'ss01' on;
    color: #071729;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-sponsors .hiring-container {
    margin: 0px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.section-sponsors .hiring-container img {
    max-height: 6rem;
    max-width: 250px;
    margin: 1rem 0.5rem;
}

.section-sponsors .hiring-container-title-sponsor {
    margin: 0px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.section-sponsors .hiring-container-title-sponsori img {
    max-width: 100%;
    margin: 1rem 0.5rem;
}

@media screen and (min-width: 540px) {
    .section-sponsors .hiring-container-title-sponsor img {
        max-width: 350px;
        margin: 1rem 0.5rem;
    }
}

.judgesection {
    /* margin-bottom: 70px; */
    padding: 70px 0;
}

.section-what .judges-title {
    font-family: PlusJakartaBold;
    font-variant-ligatures: no-historical-ligatures;
    font-feature-settings: "ss01", "ss02", "ss03";
    font-size: 48px;
    color: var(--laut-blue);
    margin-top: 30px;
}

.section-what .judges-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .section-what .judges-container {
        justify-content: center;
    }
}

.section-what .judge-box {
    text-align: center;
    border: solid 3px #110000;
    margin-top: 30px;
    min-height: 225px;
    min-width: 250px;
    max-height: 260px;
    max-width: 260px;
    padding: 32px;
    border-radius: 13px;
    transition: 0.2s ease;
    padding-right: 15px;
    padding-left: 15px;
}

.section-what .judge-box:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-what .judge-box .judge-pic {
    display: flex;
    justify-content: center;
}

.section-what .judge-box .judge-pic img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.section-what .judge-box .judge-name {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: var(--text-dark);
}

.section-what .judge-box .judge-desc {
    font-size: 17px;
    line-height: 1.6;
    color: #071729;
    font-family: Montserrat;
    font-weight: 500;
}

.section-what .judge-many {
    margin-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #071729;
}

.section-what .mlh-coc {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #071729;
}

.section-what .mlh-coc-text-container {
    max-width: 773px;
}

.section-what .btn-coc {
    font-family: PlusJakartaBold;
    margin-top: 15px;
    color: #FFFCF3;
    font-weight: 600;
    background: #071729;
    border-radius: 4px;
    padding: 15px 25px;
    width: 420px;
}

.section-track {
    padding-bottom: 120px;
    background-color: #071729;
}

.section-track h1 {
    color: #F5DF4D;
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    font-feature-settings: 'ss02' on;
    margin-top: 0px;
}

.section-track .col-12 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.section-track .subtitle {
    display: block;
    max-width: 900px;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #F5DF4D;
}

.section-track .item {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    max-width: 375px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    height: 100%;
}

.section-track .item .item-header {
    height: 20px;
    background-color: #FF164E;
}

.section-track .item .item-body {
    padding: 30px;
}

.section-track .item .item-title {
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
    font-feature-settings: 'ss01' on;
    color: #071729;
}

.section-track .item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #071729;
}

.section-prize {
    padding-bottom: 40px;
    background-color: #F5DF4D;
}

.section-prize h1 {
    color: #071729;
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    font-feature-settings: 'ss02' on;
}

.section-prize .subtitle {
    color: #071729;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-prize .col-lg-4 {
    padding: 15px;
}

.section-prize .item {
    border: 4.19415px solid #071729;
    padding: 32px;
    border-radius: 18.1747px;
    transition: 0.2s ease;
    height: 100%;
    max-width: 320px;
}

.section-prize .item:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-prize .item .item-title {
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.section-prize .item .item-body {
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-prize .prize-many {
    margin-top: 40px;
    text-align: center;
    color: #071729;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-faq {
    background-color: #071729;
    color: var(--text-secondary);
    padding-top: 70px;
    padding-bottom: 30px;
}

.section-faq h1 {
    color: #F5DF4D;
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    font-feature-settings: 'ss02' on;
}

.section-faq h3 {
    color: #F5DF4D;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.section-faq p {
    color: #071729;
    font-family: PlusJakartaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.section-faq a {
    color: inherit;
    text-decoration: underline;
}

.section-faq .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-faq .card {
    margin-bottom: 25px;
    border-radius: 5px !important;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    color: var(--text-primary);
    cursor: pointer;
}

.section-faq .card .fa-chevron-up {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
}

.section-faq .card .collapsed .fa-chevron-up {
    transform: rotate(180deg);
    transition: transform 0.25s ease;
}

.card-body {
    font-family: Montserrat;
    font-weight: 500;
}

.section-faq .card-header {
    background-color: #FFFCF3 !important;
    color: var(--text-dark);
    font-weight: 400;
    padding-top: 17px;
    padding-bottom: 17px;
}

.section-faq .accordion .magic-container {
    align-content: flex-start;
}

.section-faq .accordion .card-header p {
    margin-bottom: 0px;
}

.section-sponsor-full {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #FFFCF3;
    color: #071729;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.section-sponsor-full h1 {
    color: var(--text-dark);
    font-size: 48px;
}

.section-sponsor-full .partner-category {
    margin-top: 6rem;
}

.section-sponsor-full .items-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-sponsor-full .items-container img {
    max-height: 5rem;
    max-width: 40%;
    margin: 1rem 0.5rem;
}

.section-sponsor-full img.title {
    width: 100%;
}

.section-sponsor-full .items-container.league-partner img {
    max-height: 10rem;
    max-width: 100%;
    margin: 1rem 0.5rem;
}

.section-sponsor-full a {
    text-decoration: underline;
    color: inherit;
}

.section-sponsor-full strong {
    font-size: 25px;
}

.section-sponsor-full .sponsor-info {
    margin-top: 70px;
    text-align: center;
}

@media screen and (min-width: 960px) {
    /* half-width cells for larger devices */
    .section-sponsor-full .items-container img {
        margin: 1rem 2rem;
    }
}

footer {
    padding-top: 0px;
    padding-bottom: 120px;
    background-color: #071729;
    color: #FFFCF3;
}

footer h1 {
    color: #FFFCF3;
}

footer img {
    max-width: 100%;
    max-height: 250px;
    display: block;
}

footer .col-lg-4 {
    display: grid;
    align-items: center;
}

footer .footer-text {
    display: grid;
    align-items: center;
}

footer .powered-img {
    padding-left: 5px;
    display: inline-block;
    height: 30px;
}

.section-bydp {
    background-color: #F5DF4D;
}

.section-bydp .item .item-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    /* padding-top: 13%; */
    padding-left: 1em;
    color: #071729;
    font-family: PlusJakartaBold;
    font-variant-ligatures: no-historical-ligatures;
    font-feature-settings: "ss01", "ss02", "ss03";
}

.section-bydp .item .row .col-md-9 .item-title {
    margin-top: 100px !important;
}

@media(max-width: 570px) {
    .section-bydp .item .item-title {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        font-size: 48px;
    }
    .section-bydp .item .item-desc {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    .section-bydp .item .row .col-xs-12 {
        margin-top: 150px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.section-bydp .item-desc {
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 3%;
    padding-left: 2.3em;
    color: #071729;
}

.section-bydp {
    /* padding-top: 120px; */
    padding-bottom: 120px;
}

.section-bydp .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-bydp .subtitle {
    display: block;
    max-width: 700px;
    margin-bottom: 50px;
}

.section-bydp .item {
    margin-bottom: -2em;
    padding: 30px;
    height: 100%;
    color: #071729;
}

.section-bydp .item-img img {
    max-width: 100%;
}

.section-bydp .tools-container {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-right: 0%;
    margin-left: 2%;
    margin-bottom: 20%;
}

@media (max-width: 1870px) {
    .section-bydp .tools-container {
        margin-left: 2%;
        margin-right: 0%;
        justify-content: left;
    }
    .section-bydp .col-lg-5 {
        display: none;
    }
}

@media (max-width: 1610px) {
    .section-bydp .tools-container {
        margin-left: 2%;
        margin-right: 0%;
        justify-content: left;
    }
    .section-bydp .col-lg-5 {
        display: none;
    }
}

@media (max-width: 1490px) {
    .section-bydp .tools-container {
        justify-content: left;
        margin-left: 2%;
        margin-right: 0%;
    }
    .section-bydp .col-lg-5 {
        display: none;
    }
}

@media (max-width: 1460px) {
    .section-bydp .tools-container {
        margin-left: 2%;
        margin-right: 0;
        justify-content: left;
    }
    .section-bydp .col-lg-5 {
        display: none;
    }
}

@media (max-width: 1199px) {
    .section-bydp .tools-container {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}

@media (max-width: 613px) {
    .section-bydp .item-title {
        margin-top: 3.5em;
    }
}

@media (max-width: 831px) {
    .section-bydp .item-title {
        margin-top: 4em;
    }
}

@media (max-width: 335px) {
    .section-bydp .item-title {
        margin-top: 5em;
    }
}

.section-bydp .tool-box {
    border: solid 4px #071729;
    margin-top: 30px;
    min-height: 250px;
    min-width: 275px;
    max-height: 250px;
    max-width: 275px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.2s ease;
    background-color: #F5DF4D;
    margin-right: 5%;
}

.section-bydp .tool-box:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.section-bydp .tool-box .tool-logo {
    width: 50px;
    height: 50px;
}

.section-bydp .tool-box .tool-logo img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    width: auto;
}

.section-bydp .tool-box .tool-name {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 25px;
    color: var(--text-dark);
    padding-top: 1.5em;
}

.section-bydp .tool-box .tool-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    color: #071729;
    padding-top: 0.5em;
    font-family: Montserrat;
}